body {
    background-color: rgb(57, 57, 57);
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

h1 {
    text-align: center;
}

h2 {
    text-decoration: underline;
    text-align: center;
}

main { 
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin : 15px;
}

section {
    border: 2px white solid;
    border-radius: 5px;
    padding: 15px;
}