body {
    background-color: rgb(57, 57, 57);
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

h1{
    text-align: center;
}

h2 {
    text-decoration: underline;
}

main { 
    display:flex;
    margin : 15px;
}