body {
    background-color: rgb(57, 57, 57);
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

header {
    background-color: rgb(95, 94, 94);
    border-radius: 5px;
    padding: 5px;
    border: 2px white solid;
}

h1 {
    text-align: center;
}

h2 {
    text-decoration: underline;
    text-align: center;
}

main { 
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin : 15px;
}

section {
    border: 2px white solid;
    border-radius: 5px;
    padding: 15px;
    margin: 8px;
    background-color: rgb(95, 94, 94);
}

@media only screen and (max-width: 730px) {
    main {
        grid-template-columns: 1fr;
    }
}