:root{
    --background-color : rgb(57, 57, 57);
    --block-color : rgb(95, 94, 94);
}

body {
    background-color: var(--background-color);
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

header {
    background-color: var(--block-color);
    border-radius: 5px;
    padding: 5px;
    border: 2px white solid;
}

h1 {
    text-align: center;
}

h2 {
    text-decoration: underline;
    text-align: center;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 15px;
}

section {
    border: 2px white solid;
    border-radius: 5px;
    padding: 15px;
    margin: 8px;
    background-color: var(--block-color);
}

#progress_ram {
    width: 100%;
}

.list-process {
    grid-column: 1/3;
}

.process-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
    font-size: 0.9em;

    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}

.process-table thead tr {
    text-align: left;
}

.process-table th,
.process-table td {
    padding: 12px 15px;
    border-bottom: 1px solid #dddddd;
}

.medium-usage {
    color: orange;
}

.high-usage {
    color: #d32f2f;
    font-weight: bold;
}

@media only screen and (max-width: 730px) {
    main {
        grid-template-columns: 1fr;
    }

    .list-process {
    grid-column: 1/1;
    }
}