:root {
    --background-color: #2a2e32;
    --block-color: #51555a;
}

body {
    background-color: var(--background-color);
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

header {
    background-color: var(--block-color);
    border-radius: 5px;
    padding: 5px;
    border: 2px white solid;
}

h1 {
    text-align: center;
}

h2,
h3 {
    text-decoration: underline;
    text-align: center;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 15px;
}

section {
    border: 2px white solid;
    border-radius: 5px;
    padding: 15px;
    margin: 8px;
    background-color: var(--block-color);
}

#progress_ram,
#progress_cpu,
#progress_storage {
    width: 100%;
}

#progress_cores {
    width: 80%;
}

.files-container,
.cores_usage_elements {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.pie-chart {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 2px solid white;
    margin-bottom: 10px;
}

li {
    padding: 3px;
}

.list-process {
    grid-column: 1/3;
    overflow-x: auto;
    display: block;
}

.list-process ol {
    padding: 0;
}

.list-process li {
    text-align: center;
    list-style-position: inside;
}

.process-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
    border-collapse: collapse;
    table-layout: fixed;

    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}

.process-table thead tr {
    text-align: left;
}

.process-table th,
.process-table td {
    padding: 12px 15px;
    border-bottom: 1px solid #dddddd;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.process-table th:nth-child(2),
.process-table td:nth-child(2) {
    width: 40%;
}

.medium-usage {
    color: orange;
}

.high-usage {
    color: #d32f2f;
    font-weight: bold;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: gray;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
    transition: background-color 0.3s, transform 0.2s;
}

.btn:hover {
    background-color: #6e6e6e;
}

.btn-container {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 5px;
}

.progress-container {
    width: 100%;
    height: 24px;
    background-color: #ffffff;
    border: 1px solid #a0a0a0;
    border-radius: 100px;
    position: relative;
    overflow: hidden;
    font-family: sans-serif;
}

.progress-fill {
    height: 100%;
    background-color: gray;
    border-radius: 999px 0 0 999px;
    transition: width 0.3s ease;
}

.progress-text {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 8px;
    font-size: 12px;
    color: #000000;
    font-weight: 500;
    white-space: nowrap;
}

@media only screen and (max-width: 850px) {
    main {
        grid-template-columns: 1fr;
        margin: 10px;
    }

    header {
        margin: 10px;
        margin-bottom: 0;
    }

    .list-process {
        grid-column: 1/1;
    }

    .process-table {
        width: auto;
    }

}