<!DOCTYPE html>
<html lang="fr">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="refresh" content="5">
    <title>{{ machine_name }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="static/style.css">
</head>

<body>
    <header>
        <h1>Dashboard - {{ machine_name }} {{ heure }}</h1>
    </header>
    <main>

        <!-- System Section -->
        <section>
            <h2>Système</h2>
            <p>Nom de la machine : {{ machine_name }}</p>
            <p>Système d'exploitation : {{ os_name }}</p>
            <p>Heure de démarrage : {{ os_boot_time }}</p>
            <p>Uptime : {{ uptime }}</p>
            <p>Nombre d'utilisateurs connectés : {{ user_nb }}</p>
        </section>

        <!-- CPU Section -->
        <section>
            <h2>CPU</h2>
            <p>Nombre de cœurs : {{ cpu_cores_nb }}</p>
            <p>Fréquence : {{ cpu_frequency }} GHz</p>
            <p>Utilisation : {{ cpu_usage }}%</p>
            <progress id="progress_cpu" max="100" value="{{ cpu_usage }}"></progress>
        </section>

        <!--Memory Section -->
        <section>
            <h2>Mémoire</h2>
            <p>RAM totale : {{ total_ram }} Go</p>
            <p>RAM utilisé : {{ ram_usage_nb }} Go | {{ ram_usage_percentage }}%</p>
            <progress id="progress_ram" max="100" value="{{ ram_usage_percentage }}"></progress>
        </section>

        <!-- Network Section -->
        <section>
            <h2>Réseau</h2>
            <p>Adresse IP : {{ ip_address }}</p>
            <p>DL : {{ dl_speed }} | UP : {{ up_speed }}</p>
        </section>

        <!-- Storage Section -->
        <section>
            <h2>Stockage</h2>
            <p>Stockage total : {{ total_storage }} GiB</p>
            <p>Stockage utilisé : {{ used_storage }} GiB</p>
            <p>Stockage libre : {{ free_storage }} GiB</p>
            <progress id="progress_storage" max="{{ total_storage }}" value="{{ used_storage }}"></progress>
        </section>

        <!-- File Section -->
        <section>
            <h2>Fichiers</h2>
            <div class="files-container">
                <div class="pie-chart" style="background: conic-gradient({{ pie_chart_css_value }});"></div>

                <div class="legend">
                    <p><span style="color:blue">■</span> {{ txt_file_nb }} fichiers .txt</p>
                    <p><span style="color:green">■</span> {{ py_file_nb }} fichiers .py</p>
                    <p><span style="color:yellow">■</span> {{ pdf_file_nb }} fichiers .pdf</p>
                    <p><span style="color:orange">■</span> {{ jpg_file_nb }} fichiers .jpg</p>
                    <p><span style="color:purple">■</span> {{ png_file_nb }} fichiers .png</p>
                    <p><span style="color:red">■</span> {{ docx_file_nb }} fichiers .docx</p>
                    <p><span style="color:cyan">■</span> {{ xlsx_file_nb }} fichiers .xlsx</p>
                    <p><span style="color:magenta">■</span> {{ pptx_file_nb }} fichiers .pptx</p>
                    <p><span style="color:lime">■</span> {{ mp3_file_nb }} fichiers .mp3</p>
                    <p><span style="color:pink">■</span> {{ mp4_file_nb }} fichiers .mp4</p>
                    <p><span style="color:brown">■</span> {{ zip_file_nb }} fichiers .zip</p>
                </div>
            </div>
        </section>

        <!-- Process list Section -->
        <section class="list-process">
            <h2>Processus</h2>

            <h3>Top 3 des processus les plus gourmands : </h3>
            <ol>
                <li>{{ process1 }}</li>
                <li>{{ process2 }}</li>
                <li>{{ process3 }}</li>
            </ol>

            <table class="process-table">
                <thead>
                    <tr>
                        <th>PID</th>
                        <th>Nom</th>
                        <th>CPU (%)</th>
                        <th>RAM (%)</th>
                </thead>
                <tbody>
                    {% for process in process_list %}
                    <tr>
                        <td>{{ process.pid }}</td>
                        <td>{{ process.name }}</td>

                        <td
                            class="{% if process.cpu_percent >= 81 %}high-usage{% elif process.cpu_percent >= 50 %}medium-usage{% endif %}">
                            {{ process.cpu_percent }}%
                        </td>

                        <td
                            class="{% if process.memory_percent > 81 %}high-usage{% elif process.memory_percent > 20 %}medium-usage{% endif %}">
                            {{ process.memory_percent }}%
                        </td>

                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </section>
    </main>
    <footer>

    </footer>
</body>

</html>