<!DOCTYPE html>
<html lang="fr">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="refresh" content="5">

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <header>
        <h1>Dashboard - {{ machine_name }} {{ heure }}</h1>
    </header>
    <main>

        <!-- System Section -->
        <section>
            <h2>Système</h2>
            <p>Nom de la machine : {{ machine_name }}</p>
            <p>Système d'exploitation : {{ os_name }}</p>
            <p>Heure de démarrage : {{ os_boot_time }}</p>
            <p>Uptime : {{ uptime }}</p>
            <p>Nombre d'utilisateurs : {{ user_nb }}</p>
        </section>

        <!-- CPU Section -->
        <section>
            <h2>CPU</h2>
            <p>Nombre de cœurs : {{ cpu_cores_nb }}</p>
            <p>Fréquence : {{ cpu_frequency }} GHz</p>
            <p>Utilisation : {{ cpu_usage }}%</p>
        </section>

        <!--Memory Section -->
        <section>
            <h2>Mémoire</h2>
            <p>RAM totale : {{ total_ram }} Go</p>
            <p>RAM utilisé : {{ ram_usage_nb }} Go | {{ ram_usage_percentage }}%</p>
            <!-- faire barre de progression -->
        </section>

        <!-- Network Section -->
        <section>
            <h2>Réseau</h2>
            <p>Adresse IP : {{ ip_address }}</p>
        </section>

        <!-- Process Section -->
        <section>
            <h2>Top 3 des processus les plus gourmands : </h2>
            <ol>
                <li>{{ process1 }}</li>
                <li>{{ process2 }}</li>
                <li>{{ process3 }}</li>
            </ol>
        </section>

        <!-- File Section -->
        <section>
            <h2>Fichiers</h2>
            <p>{{ txt_file_nb }} fichiers .txt</p>
            <p>{{ py_file_nb }} fichiers .py</p>
            <p>{{ pdf_file_nb }} fichiers .pdf</p>
            <p>{{ jpg_file_nb }} fichiers .jpg</p>
        </section>

        <!-- Process list Section -->
        <section class="list_process">
            <h2>Processus</h2>


        </section>
    </main>
    <footer>

    </footer>
</body>

</html>